<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial_scale = 1.0" />
        <title>Sales Analyzer</title>
    </head>
<body>
    <form action="#" method="post">
        <label for="username"> Employee Username </label>
        <input type="text" id="username" name="username" required>
        <label for="password"> Password </label>
        <input type="password" id="password" name="password" required>
        <button type="submit"> Log In </button>
    </form>
</body>
</html>