<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial_scale = 1.0" />
    <title>Sales Analyzer</title>
    <style>
        h1 
        {
            color: green
        }
    </style>
</head>
</body>
<nav>
    <ul>
        <li> <a href="/login"> Loging <a> </Li>
        <li> <a href="/register"> Create an account <a> </Li>
        </body>
</nav>
<h1> Create an account <h2>
 <form action= "#" method = "post">
    <label for ="username"> Employee Username </label>
    <input type="text" id="username" name="username" required>
    <label for ="password"> Password </label>
    <input type="password" id="password" name="password" required>
    <button type="submit"> Register </button>
    </form>
</body>
</html>